In [ ]:
a=9
if a>9 :
  print ("Yes a is grater than 10")

In [ ]:
a>9

False

In [ ]:
a=9
if a>=9 :
  print ("Yes a is grater than 10")

Yes a is grater than 10

In [ ]:
a>=9

True

In [ ]:
b=int (input())
if b>20 :
  print("yes b is greater than 30 ")
elif b<30 :
  print ("b is less than 30")
else :
    print ("this my defaults")

10
b is less than 30

In [ ]:
input()

342

'342'

In [ ]:
b=int (input())

35

In [ ]:
n=5
i=1
while i < n :
  print (i)
  i=i+1

1
2
3
4

In [ ]:
n=5
i=1
while i < n :
  print (i)
  i=i+1
else :
  print("this my else")

1
2
3
4
this my else

In [ ]:
n=5
i=1
while i < n :
  print (i)
  i=i+1
  if i==4 :
   break
else :
  print("this my else")

1
2
3

In [ ]:
n="name"
for n in n :
  print(n)

n
a
m
e

In [ ]:
l=[2,8,9,5, "Rahul","skills",2.86, False]
for i in l :
  print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>

In [ ]:
for i in l :
  print(type(i))
else :
  print("this will be excuted once for loop wii=ll be complted itself succefully")

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'float'>
<class 'bool'>
this will be excuted once for loop wii=ll be complted itself succefully

In [ ]:
for i in l :
  print(type(i))
  if i==9 :
    break
else :
  print("this will be excuted once for loop wii=ll be complted itself succefully")

<class 'int'>
<class 'int'>
<class 'int'>

In [ ]:
for i in l :
  print(type(i))
  if i==9 :
    continue
  print(i)
else :
  print("this will be excuted once for loop wii=ll be complted itself succefully")

<class 'int'>
2
<class 'int'>
8
<class 'int'>
<class 'int'>
5
<class 'str'>
Rahul
<class 'str'>
skills
<class 'float'>
2.86
<class 'bool'>
False
this will be excuted once for loop wii=ll be complted itself succefully

In [ ]:
range(12)
list(range(12))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]