In [1]:
grade = iinput("Enter your grade")

if grade == 2:
    print("Your salary should be more than 20000")
elif grade == 3:
    print("Your salary should be 35000")
elif grade == 4:
    print("Your salary should be 45000")
else:
    print("Your salary is not defined yet. Please wait for some time")

Enter your grade 5

Your salary is not defined yet. Please wait for some time

In [2]:
grade

'5'

In [6]:
type(grade)

str

In [7]:
grade = int(input("Enter your grade"))

if grade == 2:
    print("Your salary should be more than 20000")
elif grade == 3:
    print("Your salary should be 35000")
elif grade == 4:
    print("Your salary should be 45000")
else:
    print("Your salary is not defined yet. Please wait for some time")

Enter your grade 3

Your salary should be 35000

In [8]:
grade

3

In [9]:
type(grade)

int

In [16]:
time=int(input("Enter your time"))
if time>9 :
    print ("You will not get entry")
else:
    print ("you will get entry" )

Enter your time 7

you will get entry

In [17]:
l=[1,2,3,4,5,6,7,8,9]

In [19]:
l[0]

2

In [20]:
l[0]+1

2

In [21]:
l1=[]

In [22]:
l1.append(l[0]+1)

In [23]:
l1

[2]

In [24]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
l2=[]
for i in l:
    print  (i+1)
    l2.append(i+1)
l2

2
3
4
5
6
7
8
9
10

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
l3=["Rahul" ,"Singh", "Parihar"]

In [37]:
for i in l3:
    print(i)

Rahul
Singh
Parihar

In [40]:
l4=[]
for i in l3:
    print(i)
    l4.append(i.upper())
l4

Rahul
Singh
Parihar

['RAHUL', 'SINGH', 'PARIHAR']

In [43]:
l=[1,2,3,4,"Rahul" ,"Singh", 3555,345.86,"Abd"]

In [45]:
l1_num=[]
l2_str=[]
for i in l :
    if type(i) == int or type(i)== float :
        l1_num.append(i)
    else :
        l2_str.append(i)

In [46]:
l1_num

[1, 2, 3, 4, 3555, 345.86]

In [47]:
l2_str

['Rahul', 'Singh', 'Abd']

In [ ]:
[] - list
() - tuple
{} - with flat element set
{} - with key value pair dict

In [48]:
10%3

1

In [49]:
x = 5

y = 2

 

if x > y:

print("x is greater than y")

elif x < y:

print("x is less than y")

else:

print("x is equal to y")

IndentationError: expected an indented block after 'if' statement on line 7 (3473910652.py, line 9)

In [50]:
for i in range(5):

if i == 2:

continue

print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (295167912.py, line 3)